@use "sass:math";

$borderRadius: 10px;
$spacer: 1rem;
$linkHeight: $spacer * 3.5;
$timing: 250ms;
$linkWidth: 6rem;

.header {
  $ref: &;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  //background: rgba(0, 0, 0, 0.9);
  color: $text;
  padding: 0 $spacer * 2;
  background: linear-gradient(360deg, transparent, rgba(#000000, 60%) 71.34%);
  //box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
  height: 6rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  z-index: 4;
  transition: $timing ease all;
  &--scrolled {
    height: 4rem;
    background: rgba(#000000, 90%);
    .header__navbar__item:last-child:before {
      bottom: -0.55rem;
    }
  }
}

.header__logo {
  svg {
    width: 100%;
    max-width: 172px;
  }
}

.header__navbar {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;

  &__menu {
    position: relative;
    display: flex;
    list-style: none;
    padding: 0;
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    height: $linkHeight;
    color: $text;
    transition: $transition;
    text-decoration: none;
    width: 8rem;
    text-transform: uppercase;
    transition: 500ms ease all;

    svg {
      height: 23px;
      transition: 500ms ease all;
    }

    &:hover {
      svg {
        color: $primary;
        stroke: $primary;
      }
    }

    span {
      font-size: 11px;
      letter-spacing: 0.1px;
      font-weight: bold;
    }

    .navbar:not(:hover) &:focus,
    &:hover {
      span {
        opacity: 1;
        transform: translate(0);
      }
    }
  }

  &__item {
    &:last-child {
      &:before {
        content: "";
        position: absolute;
        left: -8rem;
        margin-left: 3.9rem;
        bottom: -1.25rem;
        height: 0.5rem;
        width: 2px;
        background: red;
        $speedlineColor: rgba(#fff, 0.2);
        $speedGap: 3rem;
        $shadow: 0 -0.5rem $primary, 0 -0.5rem $primary,
          0 0 $speedGap 0.5rem $primary, 2rem 0 0 $speedlineColor,
          -$speedGap 0 0 $speedlineColor;
        @for $i from 2 to 120 {
          $shadow: $shadow + #{","} + $i * $speedGap 0 0 $speedlineColor;
          $shadow: $shadow + #{","} + $i * -$speedGap 0 0 $speedlineColor;
        }
        box-shadow: $shadow;
        transition: 500ms ease all;
      }
    }

    @for $i from 1 to 12 {
      &:first-child:nth-last-child(#{$i}),
      &:first-child:nth-last-child(#{$i}) ~ li {
        @for $j from 1 to $i {
          &:nth-child(#{$j}):hover {
            ~ li:last-child:before {
              left: (100% / $i) * ($j - 1);
            }
          }
        }

        &:last-child:hover:before {
          left: (100% / $i) * ($i - 1);
        }
      }
    }
  }
}

.header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.header__account-btn,
.header__cart-btn {
  svg {
    fill: $text;
    display: inline;
    height: 30px;
    width: 30px;
  }
}

.header__cart-btn {
  margin-left: 15px;
  position: relative;

  svg {
    height: 110px;
    width: 130px;
    transform: scaleX(-1) translateY(3px);
  }

  &::after {
    display: block;
    position: absolute;
    left: 50%;
    top: calc(50% - 10px);
    transform: translateY(-50%) translateX(-32px);
    content: "1";
    border-radius: 50%;
    background-color: $primary;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
  }
}
