@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.showcase {
  background-color: #dbdedb;

  &-1 {
    .showcase__infos__title {
      font-family: "Great Vibes", cursive;
    }

    .showcase__infos__title {
      span {
        display: block;
        padding: 0 15px;

        &:last-child {
          margin-left: 30px;
        }
      }
    }
  }

  &-2 {
    color: #fff;
    background: #33302d;

    .showcase__wrapper {
      flex-direction: row-reverse;
    }

    .showcase__infos__title {
      color: #fff;
      font-size: 48px;
      margin-bottom: 15px;
      line-height: 1.1;

      span:last-child {
        text-align: center;
        display: block;
        margin-left: 0;
        font-style: italic;
        font-weight: 400;
      }
    }

    .showcase__infos__cta {
      background-color: #fff;
      border: 2px solid #fff;
      color: #000;

      &:hover {
        background-color: #000;
        border: 2px solid #000;
        color: #fff;
      }
    }
  }
}

.showcase__wrapper {
  @include container;
  @include flex-container;
  padding: 32px 0;

  @include lg {
    padding: 0;
  }
}

.showcase__infos {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
}

.showcase__infos__title {
  color: #aa0021;
  font-size: 70px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.showcase__infos__cta {
  display: flex;
  padding: 15px 60px;
  background-color: $primary;
  border: 2px solid $primary;
  text-decoration: none;
  border-radius: 40px;
  color: #fff;
  transition: $timing ease all;
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
  margin-top: 15px;

  &:hover {
    background-color: #150202;
    border-color: #150202;
  }
}

.showcase__image {
  display: flex;

  img {
    width: 100%;

    @include lg {
      width: 600px;
    }
  }
}
